<center>
<body>
  <br>
  <table class='table-striped'>
  <thead>
    <tr>
    <th>MAPBLKLOT</th>
    <th>BLKLOT</th>
    <th>Block Number</th>
    <th>Lot Number</th>
    <th>From Street</th>
    <th>To Street</th>
    <th>Street</th>
    <th>St. Type</th>
    <th>Odd/Even</th>
    <th>Polygon</th>
    </tr>
  </thead>
  <tbody>
    <% @props.each do |prop|%>
    <tr>
      <td><%= prop.mapblklot %></td>
      <td><%= prop.blklot%></td>
      <td><%= prop.block_num%></td>
      <td><%= prop.lot_num%></td>
      <td><%= prop.from_st%></td>
      <td><%= prop.to_st%></td>
      <td><%= prop.street%></td>
      <td><%= prop.st_type%></td>
      <td><%= prop.odd_even%></td>
      <td><%= link_to "Polygon Data", property_path(prop.id)%></td>
    </tr>
    <% end %>
  </tbody>
  </table>
  <%= will_paginate @props, previous_label: h("<"), next_label: h(">"), style:'position: relative; left: 400px; height:30px;' %>
  <%= content_tag "div", id: "properties", data: {url: properties_url} do %>
  <% end %>
</body>
</center>
